<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="/js/bootstrap.js"></script>
    <title>Ensamble</title>
</head>
<body  style="background-image: url(/img/protruding-squares6.svg)">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/inicio">
                            <img src="/img/pachulogo.jpg" alt="Logo" width="30" height="30" class="d-inline-block align-text-m text-center" style="width: 50px; height: 50px; font-family: Helvetica, sans-serif; border-radius: 25px;">
                            Pachulin-Tech
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/productos" style="font-family: Helvetica, sans-serif; font-size: 18px;"><i class="bi bi-box-seam-fill" style="margin-right: 10px;"></i>Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light" href="/preensambles" style="font-family: Helvetica, sans-serif; font-size: 18px;"><i class="bi bi-pc-display" style="margin-right: 10px;"></i>Preensambles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/promociones" style="font-family: Helvetica, sans-serif; font-size: 18px;"><i class="bi bi-gpu-card" style="margin-right: 10px;"></i>Promociones</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login" style="font-family: Helvetica, sans-serif; font-size: 18px;"><i class="bi bi-person-circle" style="margin-right: 10px;"></i>Iniciar Sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body-content outer-top-bd pb-5">
        <div class="container mb-4 mt-5">
            <div class="checkout-box innerbottom-sm">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card mt-5" style="width: 18rem; height: 27rem ;">
                            <img src="/img/proce.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">CONFIGURAROR DE PC</h5>
                                <p class="card-text">Utiliza nuestro configurador para hacer tu PC a medida. Solo tienes que elegir los componentes que más te gusten y nosotros nos encargamos de montarla y enviártela a casa.</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--Contenedores de productos -->
                        <div class="body-content outer-top-bd">
                            <div class="accordion accordion-flush" id="" style="max-width: 1200px; margin: 0 auto; ">
                                <div class="aling-items-center">
                                    <h1 class="text-center bg-dark text-white" style="font-family:Helvetica, sans-serif;">Configurador de PC</h1>
                                </div>
                                
                                
                                        <% let i = 0;%>
                                        <% resultado.forEach((titulo)=>{ %>
                                        <% i = i + 1;%>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-categoria<%=i%>" aria-expanded="false" aria-controls="flush-categoria<%=i%>">
                                                    <%=titulo.categoria%>
                                                </button>
                                            </h2>
                                            <div id="flush-categoria<%=i%>" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body row">

                                                    <% results.forEach((usuario)=>{ %>
                                                        <% if (titulo.categoria == usuario.categoria){%>
                                                            <% if(usuario.estado == 1){%>
                                                            <div class="card" style="width: 15rem;">
                                                                <img src="<%=usuario.imagen%>" class="card-img-top " alt="...">
                                                                <div class="card-body">
                                                                    <h5 class="card-title"><%=usuario.descripcion%></h5>
                                                                    <p class="card-text"><%=usuario.categoria%></p>
                                                                    <a class="card-text bg-dark btn"  style="color: white; border-radius: 5px; text-decoration: none;"><h6>$<%=usuario.precio%></h6></a>
                                                                    <button class="add-to-cart btn btn-outline-success">Agregar al carrito</button>
                                                                </div>
                                                            </div>
                                                            <%}%>
                                                        <% } %>
                                                    <% }) %>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                        
                                
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mt-5" style="width: 18rem; height: 27rem ;">
                            <center>
                                <h1>Carrito</h1>
                            </center>
                            <div class="card-body">
                                <ul id="cart-items">

                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>




    <div class="container pb-5">
        <footer class="bg-dark text-center text-white fixed-bottom" >
            <div class="container" style="height: 35px;">
                <section class="mb-1">
                    <a href="" class="btn btn-outline-light btn-floating m-1 p-0 px-1"    role="button">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="" class="btn btn-outline-light btn-floating m-1 p-0 px-1" role="button">
                        <i class="bi bi-google"></i>
                    </a>
                    <a href="" class="btn btn-outline-light btn-floating m-1 p-0 px-1" role="button">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="/administrador" class="btn btn-outline-light btn-floating m-1 p-0 px-1" role="button">
                        <i class="bi bi-github"></i>
                    </a>
                </section>
            </div>
            <div class="text-center " style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2023 | Todos los derechos reservados | 
                <a href="/inicio" class="text-white">Pachulin-Tech</a>
            </div>
        </footer>
    </div>

    <style>
        footer{
            height: 100x;
        }

        .img-fluid{
            width: 100%;
            height: 100%;
        }
        .card{
            margin: 0 auto; 
            float: none;
            margin-bottom: 2%;
        }
            

        .accordion-button{
            color: white;
            background-color: rgb(46, 64, 83);
        }

        
        .accordion-button:not(.collapsed) {
            color: white;
            background-color: rgb(46, 64, 83);    
        }

        .accordion-item{
            background-color: rgb(128, 139, 150);
            
        }

    </style>

    <!-- Estilos -->
    <style>
        .nav-link{
            color: white;
        }
        .nav-link:hover{
            background-color: rgb(134, 134, 134);
            color: white;
        }
        .navbar-brand{
            color: white;
        }
        .navbar-brand:hover{
            color: white;
        }
    </style>

    <!-- Scripts -->
    <script>
        // Obtener elementos del DOM
        const cartItemsEl = document.getElementById("cart-items");
        const cartTotalEl = document.getElementById("cart-total");
        const addToCartButtons = document.querySelectorAll(".add-to-cart");

        // Inicializar carrito
        let cartItems = [];
        let cartTotal = 0;

        // Función para actualizar el carrito
        function updateCart() {
        // Limpiar elementos del carrito
        cartItemsEl.innerHTML = "";

        // Recorrer elementos del carrito y agregarlos al DOM
        cartItems.forEach(item => {
            const li = document.createElement("li");
            li.innerText = item.name + " - $" + item.price;
            cartItemsEl.appendChild(li);
        });
        cartTotalEl.innerText = cartTotal;
        }

        // Añadir evento click a los botones "Agregar al carrito"
        addToCartButtons.forEach(button => {
        button.addEventListener("click", () => {
            // Obtener nombre del producto
            const name = button.parentElement.querySelector("h5").innerText;
            const price = button.parentElement.querySelector("h6").innerText.slice(1);
            // Agregar producto al carrito
            cartItems.push({ name,price });

            // Actualizar el carrito
            updateCart();
        });
        });

        cartTotal += parseInt(price);

    </script>


























</body>
</html>