<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="/public/js/bootstrap.js"></script>
    <title>Productos</title>
</head>
<body style="background-image: url(/img/protruding-squares6.svg)">
    <!--  Navbar-->
    <nav class="navbar navbar-expand-lg bg-dark" >
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/inicio">
                        <img src="/img/pachulogo.jpg" alt="Logo" width="30" height="30" class="d-inline-block align-text-m text-center" style="width: 50px; height: 50px; font-family: Helvetica, sans-serif; border-radius: 25px;">
                        Pachulin-Tech
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        
                        <a class="nav-link" href="/productos" style="font-family: Helvetica, sans-serif; font-size: 18px;"><i class="bi bi-box-seam-fill" style="margin-right: 10px;"></i>Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light" href="/preensambles" style="font-family: Helvetica, sans-serif; font-size: 18px;"><i class="bi bi-pc-display" style="margin-right: 10px;"></i>Preensambles</a>
                    </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/carrito" style="font-family: Helvetica, sans-serif; font-size: 18px;"><i class="bi bi-cart" style="margin-right: 10px;"></i></a>
                    </li>
                    <% if (name){ %>
                        <li class="nav-item">
                          <a class="nav-link" href="" style="font-family: Helvetica, sans-serif; font-size: 18px;"><i class="bi bi-person-circle" style="margin-right: 10px;"></i><%=name%></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" style="font-family: Helvetica, sans-serif; font-size: 18px;"><i class="bi bi-box-arrow-right"></i>  Log out</a>
                          </li>
                      <% }else{ %>
                        <li class="nav-item">
                          <a class="nav-link" href="/login" style="font-family: Helvetica, sans-serif; font-size: 18px;"><i class="bi bi-person-circle" style="margin-right: 10px;"></i>Iniciar Sesion</a>
                        </li>
                      <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active text-black" id="nav-Procesadores-tab" data-bs-toggle="tab" data-bs-target="#nav-Procesadores" type="button" role="tab" aria-controls="nav-Procesadores" aria-selected="true"><i class="bi bi-cpu"></i> Procesadores</button>
                <button class="nav-link text-black" id="nav-Disipadores-tab" data-bs-toggle="tab" data-bs-target="#nav-Disipadores" type="button" role="tab" aria-controls="nav-Disipadores" aria-selected="false"><i class="bi bi-fan"></i> Disipadores</button>
                <button class="nav-link text-black" id="nav-TarjetasMadre-tab" data-bs-toggle="tab" data-bs-target="#nav-TarjetasMadre" type="button" role="tab" aria-controls="nav-TarjetasMadre" aria-selected="false"><i class="bi bi-motherboard-fill"></i> Tarjetas Madre</button>
                <button class="nav-link text-black" id="nav-Ram-tab" data-bs-toggle="tab" data-bs-target="#nav-Ram" type="button" role="tab" aria-controls="nav-Ram" aria-selected="false"><i class="bi bi-memory"></i> Memorias Ram</button>
                <button class="nav-link text-black" id="nav-Discos-tab" data-bs-toggle="tab" data-bs-target="#nav-Discos" type="button" role="tab" aria-controls="nav-Discos" aria-selected="false"><i class="bi bi-device-hdd-fill"></i> Discos Duros</button>
                <button class="nav-link text-black" id="nav-Video-tab" data-bs-toggle="tab" data-bs-target="#nav-Video" type="button" role="tab" aria-controls="nav-Video" aria-selected="false"><i class="bi bi-gpu-card"></i> Tarjetas de Video</button>
                <button class="nav-link text-black" id="nav-Gabinetes-tab" data-bs-toggle="tab" data-bs-target="#nav-Gabinetes" type="button" role="tab" aria-controls="nav-Gabinetes" aria-selected="false"><i class="bi bi-pc-display"></i> Gabinetes</button>
                <button class="nav-link text-black" id="nav-Fuentes-tab" data-bs-toggle="tab" data-bs-target="#nav-Fuentes" type="button" role="tab" aria-controls="nav-Fuentes" aria-selected="false"><i class='bx bx-bolt-circle'></i> Fuentes de poder</button>
                
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active " id="nav-Procesadores" role="tabpanel" aria-labelledby="nav-Procesadores-tab">
                <div class="row justify-content-start">
                    <% results.forEach((usuario)=>{ %>
                        <%if (usuario.categoria == "Procesador"){%>
                            <% if (usuario.estado == 1){%>
                                <div class="col">
                                    <div class="card" style="width: 15rem;">
                                        <img src="<%=usuario.imagen%>" class="card-img-top " alt="Imagen">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=usuario.descripcion%></h5>
                                            <p class="card-text"><%=usuario.categoria%></p>
                                            <a href="/agregarCarritoProducto/<%=usuario.idProducto%>" class="card-text bg-dark btn"  style="color: white; border-radius: 5px; text-decoration: none;">$<%=usuario.precio%></a>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                    <% }) %>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Disipadores" role="tabpanel" aria-labelledby="nav-Disipadores-tab">
                <div class="row justify-content-start">
                    <% results.forEach((usuario)=>{ %>
                        <%if (usuario.categoria == "Disipador"){%>
                            <% if (usuario.estado == 1){%>
                                <div class="col">
                                    <div class="card" style="width: 15rem;">
                                        <img src="<%=usuario.imagen%>" class="card-img-top " alt="Imagen">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=usuario.descripcion%></h5>
                                            <p class="card-text"><%=usuario.categoria%></p>
                                            <a  href="/agregarCarritoProducto/<%=usuario.idProducto%>" class="card-text bg-dark btn"  style="color: white; border-radius: 5px; text-decoration: none;">$<%=usuario.precio%></a>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                    <% }) %>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-TarjetasMadre" role="tabpanel" aria-labelledby="nav-TarjetasMadre-tab">
                <div class="row justify-content-start">
                    <% results.forEach((usuario)=>{ %>
                        <%if (usuario.categoria == "Tarjeta Madre"){%>
                            <% if (usuario.estado == 1){%>
                                <div class="col">
                                    <div class="card" style="width: 15rem;">
                                        <img src="<%=usuario.imagen%>" class="card-img-top " alt="Imagen">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=usuario.descripcion%></h5>
                                            <p class="card-text"><%=usuario.categoria%></p>
                                            <a href="/agregarCarritoProducto/<%=usuario.idProducto%>" class="card-text bg-dark btn"  style="color: white; border-radius: 5px; text-decoration: none;">$<%=usuario.precio%></a>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                    <% }) %>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Ram" role="tabpanel" aria-labelledby="nav-Ram-tab">
                <div class="row justify-content-start">
                    <% results.forEach((usuario)=>{ %>
                        <%if (usuario.categoria == "Memoria RAM"){%>
                            <% if (usuario.estado == 1){%>
                                <div class="col">
                                    <div class="card" style="width: 15rem;">
                                        <img src="<%=usuario.imagen%>" class="card-img-top " alt="Imagen">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=usuario.descripcion%></h5>
                                            <p class="card-text"><%=usuario.categoria%></p>
                                            <a href="/agregarCarritoProducto/<%=usuario.idProducto%>" class="card-text bg-dark btn"  style="color: white; border-radius: 5px; text-decoration: none;">$<%=usuario.precio%></a>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                    <% }) %>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Discos" role="tabpanel" aria-labelledby="nav-Discos-tab">
                <div class="row justify-content-start">
                    <% results.forEach((usuario)=>{ %>
                        <%if (usuario.categoria == "Disco Duro"){%>
                            <% if (usuario.estado == 1){%>
                                <div class="col">
                                    <div class="card" style="width: 15rem;">
                                        <img src="<%=usuario.imagen%>" class="card-img-top " alt="Imagen">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=usuario.descripcion%></h5>
                                            <p class="card-text"><%=usuario.categoria%></p>
                                            <a href="/agregarCarritoProducto/<%=usuario.idProducto%>" class="card-text bg-dark btn"  style="color: white; border-radius: 5px; text-decoration: none;">$<%=usuario.precio%></a>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                    <% }) %>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Video" role="tabpanel" aria-labelledby="nav-Video-tab">
                <div class="row justify-content-start">
                    <% results.forEach((usuario)=>{ %>
                        <%if (usuario.categoria == "Tarjeta de Video"){%>
                            <% if (usuario.estado == 1){%>
                                <div class="col">
                                    <div class="card" style="width: 15rem;">
                                        <img src="<%=usuario.imagen%>" class="card-img-top " alt="Imagen">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=usuario.descripcion%></h5>
                                            <p class="card-text"><%=usuario.categoria%></p>
                                            <a href="/agregarCarritoProducto/<%=usuario.idProducto%>" class="card-text bg-dark btn"  style="color: white; border-radius: 5px; text-decoration: none;">$<%=usuario.precio%></a>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                    <% }) %>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Gabinetes" role="tabpanel" aria-labelledby="nav-Gabinetes-tab">
                <div class="row justify-content-start">
                    <% results.forEach((usuario)=>{ %>
                        <%if (usuario.categoria == "Gabinete"){%>
                            <% if (usuario.estado == 1){%>
                                <div class="col">
                                    <div class="card" style="width: 15rem;">
                                        <img src="<%=usuario.imagen%>" class="card-img-top " alt="Imagen">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=usuario.descripcion%></h5>
                                            <p class="card-text"><%=usuario.categoria%></p>
                                            <a href="/agregarCarritoProducto/<%=usuario.idProducto%>" class="card-text bg-dark btn"  style="color: white; border-radius: 5px; text-decoration: none;">$<%=usuario.precio%></a>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                    <% }) %>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Fuentes" role="tabpanel" aria-labelledby="nav-Fuentes-tab">
                <div class="row justify-content-start">
                    <% results.forEach((usuario)=>{ %>
                        <%if (usuario.categoria == "Fuente de Poder"){%>
                            <% if (usuario.estado == 1){%>
                                <div class="col">
                                    <div class="card" style="width: 15rem;">
                                        <img src="<%=usuario.imagen%>" class="card-img-top " alt="Imagen">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=usuario.descripcion%></h5>
                                            <p class="card-text"><%=usuario.categoria%></p>
                                            <a href="/agregarCarritoProducto/<%=usuario.idProducto%>" class="card-text bg-dark btn"  style="color: white; border-radius: 5px; text-decoration: none;">$<%=usuario.precio%></a>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                    <% }) %>
                </div>
            </div>
        </div> 
    </div>


    <div class="container pb-5">
        <footer class="bg-dark text-center text-white fixed-bottom" >
            <div class="container" style="height: 35px;">
                <section class="mb-1">
                    <a href="" class="btn btn-outline-light btn-floating m-1 p-0 px-1"    role="button">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="" class="btn btn-outline-light btn-floating m-1 p-0 px-1" role="button">
                        <i class="bi bi-google"></i>
                    </a>
                    <a href="" class="btn btn-outline-light btn-floating m-1 p-0 px-1" role="button">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="/administrador" class="btn btn-outline-light btn-floating m-1 p-0 px-1" role="button">
                        <i class="bi bi-github"></i>
                    </a>
                </section>
            </div>
            <div class="text-center " style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2023 | Todos los derechos reservados | 
                <a href="/inicio" class="text-white">Pachulin-Tech</a>
            </div>
        </footer>
    </div>

    <style>
        .card{
            font-family: Helvetica, sans-serif;
            margin: 20 px;
            height: 450px;
            width: 35px;
            background-color: rgba(98, 196, 167, 0.575);
            margin-bottom: 20px;
        }
        .nav-link{
        color: white;
        }
        .nav-link:hover{
        background-color: rgb(134, 134, 134);
        color: white;
        }
        .navbar-brand{
        color: white;
        }
        .navbar-brand:hover{
        color: white;
        }
    </style>
</body>
</html>